* {
    margin: 0;
}

body {
    background-color: black;
}

#pl-0 {
    background-image: url("../images/parallax0.png");
    background-color: #ffaf1b;
    width: 5760px;
}
#pl-1 {
    background-image: url("../images/parallax1.png");
    width: 7910px;
}
#pl-2 {
    background-image: url("../images/parallax2.png");
    width: 7419px;
    top: 200px;
}
#pl-3 {
    background-image: url("../images/parallax3.png");
    width: 7901px;
    top: 300px;
}
#pl-4 {
    background-image: url("../images/parallax4.png");
    width: 7453px;
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 400px;
}

.parallax {
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 100vh;
    position: fixed;
    left: 0;
    pointer-events: none;
}

#main {
    height: 9000px;
    width: 100vw;
    position: fixed;
}

#content {
    background-color: #210002;
    height: 9000px;
}


::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}